@import "tailwindcss";


@theme {
  --color-background: #f0dfd7;
  --color-accent: #bad6e1;
  --color-muted: #6b7280;
  --color-second-accent: #6d3def;
    /*
    #7d4dff
    #bad6e1
    #d9cae1
    */
}

:root {
    @apply bg-background;
    
}
.section-title {
    @apply flex flex-col w-1/6 py-10 items-center gap-3;
}
.section-title .text {
    @apply text-muted font-bold text-xl;
}
.section-title hr {
    @apply w-40 text-muted;
}



/*Info Bar*/
#info-bar {
    @apply bg-muted py-2 px-4 text-white;
}
#info-bar > * {
    @apply flex gap-3;
}

/*Header*/
#header {
    display: unset;
}
#header nav {
    @apply flex justify-end pr-40 sticky top-0 font-medium;
    background-color: rgba(240, 223, 215, 0.6);
    backdrop-filter: blur(8px);
}
#header nav > a {
    @apply px-5 py-3 transition delay-50 duration-300 hover:text-second-accent relative text-mauve-800;
}

#header nav > a::after {
  @apply absolute w-full h-0.5 bottom-0 left-0 bg-second-accent ;
  content: '';
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}
#header nav > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}


/*Services*/
.service-category {
    @apply flex justify-center;
}

.service-category .left {
    @apply w-3/5;
}
.service-category .right {
    @apply w-2/5 flex flex-col items-center;
}

.dropdown .headline {
    @apply flex justify-between;
}
.dropdown .items {
    @apply flex flex-col;
}

.headline .icon img {
    @apply w-4 h-4 transition-transform duration-300;
}


/*Reviews*/
.cards {
  @apply flex gap-14 px-20;
}
.card {
  @apply flex flex-col items-center gap-5 text-center;
}

/*FAQ*/
.question {
    @apply flex justify-between;
}
.question .icon img {
    @apply w-4 h-4 transition-transform duration-300;
}

/*Map-Hours*/
#hours .items .item {
    @apply flex gap-10 justify-between;
}

/*Footer*/
#footer .section2 > * {
    @apply flex gap-3;
}