@import "tailwindcss";

@font-face {
  font-family: myFont; 
  src: url("/cool-font.ttf"); 
}

@theme {
  --color-background: #f0dfd7;
  --color-accent: #bad6e1;
  --color-muted: #6b7280;
  --color-second-accent: #6d3def;
  --color-section-title: #2f2438;
    /*
    #7d4dff
    #bad6e1
    #d9cae1
    */
}

:root {
    @apply bg-background;
    
}
.section-title {
    @apply flex flex-col w-1/2 py-10 items-center gap-3 pt-30;
    font-family:myFont;
    letter-spacing: 3px;
}
.section-title .text {
    @apply text-section-title font-medium text-5xl;
}
.section-title hr {
    @apply w-40 text-muted;
}



/*Info Bar*/
#info-bar {
    @apply bg-muted py-2 px-4 text-white;
}
#info-bar > * {
    @apply flex gap-3;
}

/*Header*/
#header {
    display: unset;
}
#header nav {
    @apply flex justify-end pr-40 sticky top-0 font-medium;
    background-color: rgba(240, 223, 215, 0.6);
    backdrop-filter: blur(8px);
}
#header nav > a {
    @apply px-5 py-3 transition delay-50 duration-300 hover:text-second-accent relative text-mauve-800;
}

#header nav > a::after {
  @apply absolute w-full h-0.5 bottom-0 left-0 bg-second-accent ;
  content: '';
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}
#header nav > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/*Hero*/
#hero-card {
    @apply flex flex-col items-start gap-2 w-120 h-50 p-10 pt-16 text-white;
    background-color: rgba(107, 114, 128, 0.8);
    font-family:Georgia, 'Times New Roman', Times, serif;
    /*rgba(109, 61, 239, 0.6)*/
}
#hero-card button:hover {
    @apply bg-second-accent;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

/*About*/
#about .title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    @apply text-section-title;
}
#about .btns button {
    @apply border bg-muted text-white py-2 px-4 cursor-pointer duration-[0.4s];
}
#about .btns button:hover {
    @apply bg-second-accent;
}
#about .right img {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Gallery*/
#gallery .container img {
    transition-duration: 0.4s;
}
#gallery .container img:hover {
    transform: scale(1.05,1.05);
}


/*Services*/
.service-category {
    @apply flex justify-center gap-3;
}

.service-category .left {
    @apply w-3/5;
}
.service-category .right {
    @apply w-2/5 flex flex-col items-center gap-3 text-section-title;
}
.service-category .right .title {
    @apply text-3xl;
    font-family: 'Times New Roman', Times, serif;
}
.service-category .right img {
    border-radius: 20px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown .headline {
    @apply flex justify-between text-xl pb-3;
    font-family: 'Times New Roman', Times, serif;
    color: #6b6378;
}
.dropdown .items {
    @apply flex flex-col gap-3 pt-3;
}

.headline .icon img {
    @apply w-10 transition-transform duration-300;
}

.service-category .menu {
    @apply flex flex-col gap-4;
}

.headline + hr {
    @apply text-muted opacity-30;
}
#services .separator hr {
    @apply text-second-accent opacity-50;
}

/*Reviews*/
.cards {
  @apply flex gap-14 px-20;
}
.card {
  @apply flex flex-col items-center gap-5 text-center bg-white rounded-2xl px-5 py-3 flex-1 text-section-title justify-between;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .text {
    @apply text-2xl;
    font-family: 'Times New Roman', Times, serif;
}

/*FAQ*/
.question {
    @apply flex justify-between;
}
.question .icon img {
    @apply w-10 transition-transform duration-300;
}
#faq .question .text {
    font-family: 'Times New Roman', Times, serif;
    color: #6b6378;
}

/*Contact*/
#contact .right form > select {
    appearance: none;
}
#contact .right form > * {
    @apply border border-dashed p-3;
}
#contact .right form > button {
    @apply col-span-2 border-solid bg-second-accent text-white;
}

/*Map-Hours*/
#hours .items .item {
    @apply flex gap-10 justify-between;
}

/*Footer*/
#footer {
    background-color: rgba(255,255,255,0.2);
}
#footer .section2 > * {
    @apply flex gap-3;
}
#footer button {
    @apply border bg-second-accent text-white px-5 py-3 cursor-pointer;
}